/* BANNER */

.banner {
    text-align: center;
    margin: 0 72px;
}

.banner__img{
    max-width: 100%;
    height: auto;
}

/* BREADCRUMB */

.breadcrumb {
    color: #9E9E9E;
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 16px 72px;
    margin: 0;
    gap: 25px;
}   

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li a {
    text-decoration: none;
    color: #9E9E9E;
}

.breadcrumb li:last-child a {
    font-weight: 600;
    color: #306c80;
}

/* CATEGORY */
.category {
    margin: 16px 72px 32px;
    display: flex;
    gap: 24px;
    height: 48px;
}

.category__item {
    background: none;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #9E9E9E;
    border-radius: 24px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.category__item-active {
    background: #F5F5F5;
    font-weight: bold;
    color: #212121   ;
}


/* TIN TUC */

.news {
    margin: 0 72px;
}

.news__title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.news__list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 24px;
}

.news__item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    width: 100%;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.news__image {
    width: 100%;
    height: 100%px;
    object-fit: cover;
}

.news__content {
    display: flex;
    font-weight: 400;
    padding: 12px 12px 0;
    justify-content: space-between;
}

.news__date, .news__category {
    font-size: 14px;
    color: #9E9E9E;
}

.news__headline {
    min-height: 48px;
    padding: 8px 12px 12px;
    margin: 0;
}

.news__headline a {
    font-weight: 600;
    line-height: 150%
}


/* MORE */

.more__btn {
    display: flex;
    margin: auto;
    gap: 8px;
    background-color: #306c80;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    margin-top: 48px;
    margin-bottom: 96px;
}

.more__btn:hover {
    background-color: #B4D499;
    cursor: pointer;
    transition: background 0.3s ease;
}

.more__btn-text {
    display: grid;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.more__btn-img {
    width: 24px;
    height: 24px;
}

/* RESPONSIVE */
/* -----------mobile------------ */
@media (max-width: 480px) {
    .banner, .news {
        margin: 0 12px;
    }

    .breadcrumb {
        padding: 16px 12px;
    }

    .category {
        margin: 16px 12px 32px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    /* TIN TUC */
    .news {
        margin: 96px 12px;
    }

    .news__item {
        width: 40vw;
    }

    .news__list {
        flex-wrap: wrap;
    }

    .news__content {
        gap: 8px;
        flex-wrap: wrap;
    }
}

/*------------TABLET------------ */
@media (min-width: 481px) and (max-width: 1024px) {

}