/* BANNER */

.banner {
    position: relative;
    height: 660px;
    margin: 0 72px;
    background: url('../img/Banner.png')
    center center / cover no-repeat; 
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 24px;
}

.banner__content {
    width: 100%;
    height: 660px;
    padding: 118.5px 72px;
    border-radius: 24px;
    line-height: 150%;
}


.banner__subtitle-top{
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    width: 114px;
    color: #306c80; 
    background-color: #FFFFFF52;
    padding: 4px 12px;
    border-radius: 17px;
    text-align: center;
}

.banner__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
}

.banner__subtitle-bot {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin: 4px 0;
    line-height: 150%;
}

.banner__buttons {
    margin-top: 30px;
    display: flex;
    gap: 16px;
}

.banner__button {
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.banner__button--primary {
    background: #306c80;
    color: white;
}

.banner__button--secondary {  
    background: white;
    color: #316d81;
}

.banner__button--primary:hover {
    background-color: #6fb5cc;
    cursor: pointer;
    transition: background 0.5s ease;
}

.banner__button--secondary:hover{
    background-color: #6fb5cc;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s ease;
}

/* LABEL__TOP */

.label__icon-list {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 12px;
    width: 100%; 
    padding: 48px 72px;
}

.label__icon-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label__icon-list--background {
    display: flex;
    width: 96px;
    height: 96px;
    background-color: #F2FBEB;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.label__icon-list__image {
    width: 64px; 
    height: 64px;
}

.label__icon-list__text {
    font-size: 14px;
    font-weight: 600;
}

/* SAN PHAM BAN CHAY */

.bestseller {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: #FAFAFA;
    padding: 96px 0;
    padding-left: 72px;
}

.bestseller__info {
    flex: 1;
}

.bestseller__title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 60px;
    padding-bottom: 30px;
}

.bestseller__desc {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    padding-bottom: 24px;
    line-height: 1.5;
}

.bestseller__nav {
    display: flex;
    gap: 24px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.bestseller__nav-button {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.product__container {
    flex: 2;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 24px;
    cursor: grab;
    user-select: none;
    scrollbar-width: none;
}

.product__card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.product__card-image {
    height: 230px;
    border-radius: 8px;
}

.product__card-name {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    line-height: 150%;
}

.product__card-price {
    font-size: 20px;
    color: #306c80;
    font-weight: 600;
    text-align: left;
    margin: 0;
    justify-content: space-around;
    line-height: 150%;
}

.product__card-old-price {  
    font-size: 12px;
    color: #BDBDBD;      
    text-decoration: line-through;
    font-weight: 400;
    margin-left: 5px;
}

.product__card-text{
    padding: 16px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.product__card-cart {
    padding: 12px 24px;
    border: 1px solid #306c80;
    border-radius: 5px;
    background-color: white;
}

.product__card-cart:hover {
    background: #306c80;
    transition: background 0.3s ease;
    cursor: pointer;
}

.product__card-cart:hover img {
    filter: brightness(0) invert(1);
}

/* MINI BANNER */

.kitchen {
    display: flex;
    margin: 96px 72px 48px;
    gap: 24px;

}

.kitchen__panel {
    border-radius: 10px; 
}

.kitchen__image {
    width: 100%;
    height: auto;
    display: block; 
}


/* SAN PHAM MOI */

.product__list {
    padding: 48px 72px;
}

.product__list-title {
    height: 64px;
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 16px;
}

.product__list-tabs {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.product__list-tab {
    font-size: 16px;
    line-height: 150%;
    margin: 0 5px;
    cursor: pointer;
}

.product__list-tab--active {
    font-weight: 600;
}

.product__list-tab--not-active{
    color: #BDBDBD;
    font-weight: 400;
}

.product__list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 48px 0;
}

.product__list-item {
    background-color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.product__list-image {
    height: 312px;
}

.product__list-item-title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding-right: 54px;
    line-height: 150%;
}

.product__list-price {
    margin-bottom: 10px;
    font-size: 20px;
    color: #306c80;
    font-weight: 600;
    text-align: left;
    margin: 0;
    line-height: 150%;
}

.product__list-old-price {
    font-size: 12px;
    color: #BDBDBD;
    text-decoration: line-through;
    font-weight: 400;
    margin-left: 5px;
}

.product__list-cart-button {
    padding: 12px 24px;
    border: 1px solid #306c80;
    border-radius: 5px;
    background-color: white;
}

.product__list-cart-button:hover{
    background: #306c80;
    transition: background 0.3s ease;
    cursor: pointer;
} 

.product__list-cart-button:hover img {
    filter: brightness(0) invert(1);
}

.product__list-text {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}


.more__btn {
    display: flex;
    margin: auto;
    gap: 8px;
    background-color: #306c80;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
}

.more__btn:hover {
    background-color: #6fb5cc;
    cursor: pointer;
    transition: background 0.3s ease;
}

.more__btn-text {
    display: grid;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.more__btn-img {
    width: 24px;
    height: 24px;
}

/* VE CHUNG TOI */

.about {
    display: flex;
    align-items: center;
    margin: 48px auto;
    background-color: #FAFAFA;
}

.about__content {
    flex: 1;
    margin: 0 72px;
    width: 50vw;
}

.about__title {
    height: 45px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
}

.about__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.about__image {
    flex: 1;
    text-align: right;
}

.about__image img {
    width: 50vw;
}

/* TIN TUC */

.news {
    margin: 96px 72px;
}

.news__title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.news__list {
    display: flex;
    gap: 24px;
    margin: 48px 0;
    justify-content: center;
}

.news__item {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    width: 100%;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.news__image {
    width: 100%;
    height: 100%px;
    object-fit: cover;
}

.news__content {
    display: flex;
    font-weight: 400;
    padding: 12px 12px 8px;
    justify-content: space-between;
}

.news__date, .news__category {
    font-size: 14px;
    color: #9E9E9E;
}

.news__headline {
    min-height: 48px;
    padding: 8px 12px 12px;
    margin: 0;
}

.news__headline a {
    font-weight: 600;
    line-height: 150%
}


/* RESPONSIVE */
/*----------- mobile width < 740px ------------ */
@media (max-width: 480px) {
    /* banner */
    .banner {
        margin: 0;
        border-radius: 0;
    }

    .banner__title {
        font-size: 32px;
        line-height: 50px;
        text-align: center;
    }

    .banner__subtitle-bot {
        text-align: center;
    }

    .banner__buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* label */

    .label__icon-list {
        padding: 48px 12px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* SAN PHAM BAN CHAY */
    .bestseller {
        display: block;
        padding: 48px 0px;
    }

    .bestseller__title {
        margin-top: 0;
    }

    .bestseller__info {
        text-align: center;
    }

    .bestseller__nav {
        display: none;
    }

    .product__container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product__card-text {
        padding: 12px;
        display: block;
    }

    .product__card-name {
        font-size: 14px;
    }

    .product__card-price {
        font-size: 14px;
    }

    .product__card-image {  
        height: 15vh;
    }

    .product__card-cart {
        padding: 1px 15vw;
    }

    .product__card-cart img {
        transform: translateY(6px);
    }

    /* KITCHEN */
    .kitchen {
        margin: 96px 48px 48px;
        flex-wrap: wrap;
    }

    /* SAN PHAM MOI */
    .product__list {
        padding: 48px 0px;
    }

    .product__list-item-title {
        padding-right: 0;
        font-size: 14px;
    }

    .product__list-price {
        font-size: 14px;
    }

    .product__list-image {
        height: 120px;
    }

    .product__list-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    .product__list-item {
        width: 45vw;
    }

    .product__list-text {
        display: block;
        padding: 8px;
    }

    .product__list-cart-button {
        padding: 1px 15vw;
    }

    .product__list-cart-button img {
        transform: translateY(6px);
    }

    /* VE CHUNG TOI */
    .about {
        display: block;
    }

    .about__content {
        margin: 0;
        padding: 48px 0;
        width: 100vw;
        text-align: center;
    }

    .about__image img {
        width: 100vw;
        border-radius: 16px;    
    }

    /* TIN TUC */
    .news {
        margin: 96px 12px;
    }

    .news__item {
        width: 40vw;
    }

    .news__list {
        flex-wrap: wrap;
    }

    .news__content {
        gap: 8px;
        flex-wrap: wrap;
    }
}



/* ---------TABLET------------ */
@media (min-width: 481px) and (max-width: 1024px) {
    /* banner */
    .banner__title {
        font-size: 42px;
        line-height: 60px;
    } 

    .banner__content {
        padding: 118.5px 48px;
    }

    .banner__buttons {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* label */

    .label__icon-list {
        padding: 48px 62px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* SAN PHAM BAN CHAY */
    .bestseller {
        display: block;
        padding: 48px 72px;
    }

    .bestseller__title {
        margin-top: 0;
    }

    .bestseller__info {
        text-align: center;
    }

    .bestseller__nav {
        display: none;
    }

    .product__container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .product__card-image {  
        height: 15vh;
    }

    /* SAN PHAM MOI */
    .product__list {
        padding: 48px 24px;
    }

    .product__list-item-title {
        padding-right: 0;
    }

    .product__list-image {
        height: 150px;
    }

    .product__list-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product__list-item {
        width: 25vw;
    }

    .product__list-text {
        display: block;
    }

    .product__list-cart-button {
        padding: 4px 8vw;
    }

    .product__list-cart-button img {
        transform: translateY(6px);
    }

    /* VE CHUNG TOI */
    .about__content {
        margin: 0 48px;
    }


}


  
