.content {
    margin: 0 72px 96px;
    display: flex;
    justify-content: space-between;
}

.content__label {
    flex: 1;
}

.content__label-list {
    margin: 0;
    padding: 24px;
    width: 28vw;
    border: 1px solid #EEEEEE;
    border-radius: 24px;
}

.content__label-item {
    font-size: 16px;
    line-height: 150%;
    color: #9E9E9E;
    margin-bottom: 16px;
    cursor: pointer;
}

.content__label-item--active {
    color: #212121;
    font-weight: 600;
}

.content__label-item:last-child {
    margin-bottom: 0;
}

.content__policy {
    flex: 2;
}

.content__policy-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

.content__policy-sub {
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
}

.content__policy-text {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 24px;
}

.content__policy-text:last-child {
    margin-bottom: 0;
}


/* RESPONSIVE */
/* -----------mobile------------ */
@media (max-width: 480px) {
    .content {
        display: block;
        margin: 0 12px 96px;
    }

    .content__label-list {
        width: 100%;
        margin-bottom: 12px;
    }
}

/*------------TABLET------------ */
@media (min-width: 481px) and (max-width: 1024px) {
    .content__label-list {
        width: 25vw;
    }
}