.post {
    width: 856px;
    margin: auto;
    padding-bottom: 48px;
}

.post__image {
    width: 100%;
    border-radius: 24px;
}

.post__content {
    margin-top: 24px;
    border-bottom: 1px solid #EEEE;
}

.post__category {
    display: inline-block;
    background: #F5F5F5;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
    line-height: 150%;
}

.post__title {
    min-height: 108px;
    font-size: 40px;
    font-weight: 700;
    margin: 8px 0;
    line-height: 1.3;
}

.post__bot {
    display: flex;
    justify-content: space-between;
    max-height: 18px;
}

.post__bot-text {
    font-size: 12px;
    color: #9E9E9E;
    line-height: 150%;
    letter-spacing: 1%;
}

.post__meta img {
    padding: 0 16px;
    transform: translateY(20%);
}

.post__share img {
    padding-left: 12px;
    transform: translateY(20%);
}

.post__item-title {
    font-size: 20px;
    line-height: 140%;
    font-weight: 600;
}

.post__description {
    font-size: 16px;
    line-height: 150%;
}

.post__list {
    padding: 0;
    list-style-type: none;
}

.post__description {
    margin: 24px 0;
}

/* TIN TUC */

.news {
    margin:48px 72px 96px;
}

.news__title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.news__list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.news__item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    width: 100%;
    text-align: left;
    transition: transform 0.3s ease-in-out;
    margin: 48px 0;
}

.news__image {
    width: 100%;
    height: 100%px;
    object-fit: cover;
}

.news__content {
    display: flex;
    font-weight: 400;
    padding: 12px 12px 0;
    justify-content: space-between;
}

.news__date, .news__category {
    font-size: 14px;
    color: #9E9E9E;
}

.news__headline {
    font-size: 16px;
    min-height: 48px;
    padding: 8px 12px 12px;
    font-weight: 600;
    margin: 0;
    line-height: 150%
}

/* RESPONSIVE */
/* -----------mobile------------ */
@media (max-width: 480px) {
    .post {
        width: 90vw;
    }

    .post__title {
        font-size: 32px;
    }
    /* TIN TUC */
    .news {
        margin: 48px 12px 96px;
    }

    .news__title {
        font-size: 32px;
    }

    .news__item {
        width: 40vw;
    }

    .news__list {
        flex-wrap: wrap;
    }

    .news__content {
        gap: 8px;
        flex-wrap: wrap;
    }
}

/*------------TABLET------------ */
@media (min-width: 481px) and (max-width: 1024px) {
    .post {
        width: 80vw;
    }
}
