/* BREADCRUMB */

.breadcrumb {
    color: #9E9E9E;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 16px 72px;
    margin: 0;
    gap: 25px; 
}   

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li a {
    text-decoration: none;
    color: #9E9E9E;
}

.breadcrumb li:last-child a {
    font-weight: 600;
    color: #306c80;
}

.contact {
    margin: 48px 72px 96px;
}

.contact__container {
    display: flex;
    margin: auto;
    gap: 24px;
    justify-content: space-between;
}

/* Left Column: Form Contact */
.contact__form {
    width: 40vw;
}

.contact__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
}

.contact__description {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
}

/* Form Styling */

.form__input,
.form__textarea {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 12px;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    font-size: 16px;
}

.form__textarea {
    min-height: 144px;
}

.form__input::placeholder,
.form__textarea::placeholder {
    color: #BDBDBD;
}

.form__group {
    display: flex;
    gap: 12px;
}

.form__group .form__input {
    flex: 1;
}

.form__button {
    width: 100%;
    padding: 12px 24px;
    background: #306c80;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 170%;
    cursor: pointer;
}

.form__button:hover {
    transition: background 0.5s ease;
    background: #B4D499;
}

/* Contact Info */
.contact__info {
    margin-top: 24px;
    font-size: 16px;
    line-height: 150%;
    gap: 4px;
}

.contact__info-bold {
    font-weight: 600;
}

/* Right Column: Google Map */
.contact__map {
    overflow: hidden;
}

.contact__map img {
    width: 50vw;
}


/* RESPONSIVE */
/* -----------mobile------------ */
@media (max-width: 480px) {
    .contact {
        margin: 48px 12px 96px;
    }

    .contact__title {
        font-size: 32px;
    }

    .breadcrumb {
        padding: 16px 12px;
    }

    .contact__container {
        display: block;
    }

    .contact__map img, .contact__form {
        width: 100%;
    }
}

/*------------TABLET------------ */
@media (min-width: 481px) and (max-width: 1024px) {
    .contact__container {
        display: block;
    }

    .contact__map img, .contact__form {
        width: 100%;
    }
}